<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
</head>
<script>
    // JavaScript
    function funcDownloads(path, formId, selectId) {
        var selected = false;

        // フォームを取得
        var targetForm = document.getElementById(formId); 
        var targetElement = document.getElementById(selectId); 
        if (!targetForm || !targetElement) {
            return false;
        }

        // 入力チェック
        for (var i=1; i< targetElement.length; i++) {
            if (targetElement[i].selected == true) {
                selected = true;
                break;
            }
        }

        // エラーダイアログ
        if (!selected) {
            var message = "ダウンロードファイルを選択してください";
            alert(message);
            return false;
        }

        // ダウンロード開始
        targetForm.action=path;
        targetForm.method="post";
        targetForm.submit();
    }
</script>
<body>
    <h1>ファイルのダウンロード</h1>
    <form id="multiForm" role="form" th:object="${selectForm}" method="post">
        <select id="multiSelect" name="selectedItems" multiple="multiple" size="6">
            <option value="">-- ファイルを選択してください--</option>
            <option th:each="item : ${fileItems}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key} == *{selectedItem}">multiSelect</option>
        </select>
        <button type="button" th:onclick="|funcDownloads('/downloadZip','multiForm','multiSelect')|">一括ダウンロード(button)</button>
        <button type="button" th:onclick="|funcDownloads('/downloadFile','multiForm','multiSelect')|">個別ダウンロード(button)</button>
    </form>
    <h1>フォルダのダウンロード</h1>
    <form id="singleForm" role="form" th:object="${selectForm}" method="post">
        <select id="singleSelect" name="selectedItem">
            <option value="">-- フォルダを選択してください--</option>
            <option th:each="item : ${folderItems}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key} == *{selectedItem}">singleSelect</option>
        </select>
        <button type="button" th:onclick="|funcDownloads('/downloadDir','singleForm','singleSelect')|">一括ダウンロード(button)</button>
    </form>
</body>
</html>
