<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head >
</head>
<script>
    // JavaScript
    function funcDownloads(path) {
        var selected = false;

        // フォームを取得
        var targetForm = document.getElementById("multiForm"); 
        var targetElement = document.getElementById("multiSelect"); 
        if (!targetForm || !targetElement) {
            return false;
        }

        // 入力チェック
        for (var i=1; i< targetElement.length; i++) {
            if (targetElement[i].selected == true) {
                selected = true;
                break;
            }
        }

        // エラーダイアログ
        if (!selected) {
            var message = "ダウンロードファイルを選択してください";
            alert(message);
            return false;
        }

        // ダウンロード開始
        targetForm.action=path;
        targetForm.method="post";
        targetForm.submit();
    }
</script>
<body>
    <h1 th:text="${title}">Dummy Title</h1>
    <form id="multiForm" role="form" th:object="${selectForm}" method="post">
        <select id="multiSelect" name="selectedItems" multiple="multiple" size="6">
            <option value="" th:text="${selectMessage}">---</option>
            <option th:each="item : ${selectItems}" th:value="${item.key}" th:text="${item.value}" th:selected="${item.key} == *{selectedItem}">multiSelect</option>
        </select>
        <button type="button" th:onclick="|funcDownloads('/downloadZip')|">一括ダウンロード(button)</button>
        <button type="button" th:onclick="|funcDownloads('/downloadFile')|">個別ダウンロード(button)</button>
    </form>
</body>
</html>
